@import "frappe.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px;
  background-color: @base;
  margin-left: 1rem;
}

#workspaces button {
  color: @lavender;
  border-radius: 1rem;
  padding: 0.4rem;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @teal;
  border-radius: 1rem;
  font-weight: bold;
  background-color: @surface0;
}

#workspaces button:hover {
  color: @sapphire;
  border-radius: 1rem;
}

#tray,
#backlight,
#taskbar,
#window,
#clock,
#language,
#battery,
#pulseaudio,
#temperature,
#custom-power {
  background-color: @base;
  padding: 0.5rem 1rem;
  margin: 5px 0;
}

#window{
  margin-right: 1rem;
  border-radius: 1rem;
}

#taskbar{
  margin-right: 1rem;
  border-radius: 1rem;
  margin-left: 1rem;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#language {
  color: @teal;
}

#temperature{
  color: @red;
}
#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight, #battery {
    border-radius: 0;
}

#pulseaudio {
  color: @mauve;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-power {
    margin-right: 1rem;
    border-radius: 1rem;
    color: @red;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}
